body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:180px;
}
#u362 {
  position:absolute;
  left:460px;
  top:50px;
  width:360px;
  height:180px;
}
#u363 {
  position:absolute;
  left:2px;
  top:82px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:297px;
}
#u365 {
  position:absolute;
  left:370px;
  top:231px;
  width:540px;
  height:287px;
  opacity:0.95;
  color:#7BA7AB;
}
#u365_img.disabled {
}
#u365.disabled {
}
#u366 {
  position:absolute;
  left:2px;
  top:136px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u367 {
  position:absolute;
  left:595px;
  top:259px;
  width:79px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u368 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u369 {
  position:absolute;
  left:556px;
  top:297px;
  width:169px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u370 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u371 {
  position:absolute;
  left:549px;
  top:347px;
  width:183px;
  height:40px;
  text-align:center;
}
#u372 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Zapfino';
  font-weight:400;
  font-style:italic;
  font-size:10px;
  text-align:center;
}
#u373 {
  position:absolute;
  left:560px;
  top:450px;
  width:160px;
  height:68px;
  font-family:'Zapfino';
  font-weight:400;
  font-style:italic;
  font-size:10px;
  text-align:center;
}
#u374 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
