<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet-mapping>
        <servlet-name>UserCenter</servlet-name>
        <url-pattern>/Servlet.UserCenter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserCenter</servlet-name>
        <servlet-class>Servlet.UserCenter</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>*.LogIn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>Servlet.LogIn</servlet-class>
    </servlet>



    <servlet-mapping>
        <servlet-name>Sign</servlet-name>
        <url-pattern>/Servlet.Sign</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sign</servlet-name>
        <servlet-class>Servlet.Sign</servlet-class>
    </servlet>

    <!--J2EE第二次作业用到的手工拦截器-->
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>*.scaction</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Servlet.LoginControllerServlet</servlet-class>
    </servlet>


    <welcome-file-list>
        <welcome-file>myIndex.html</welcome-file>
    </welcome-file-list>
</web-app>