body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:898px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:180px;
}
#u295 {
  position:absolute;
  left:460px;
  top:50px;
  width:360px;
  height:180px;
}
#u296 {
  position:absolute;
  left:2px;
  top:82px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u298 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:44px;
}
#u299 {
  position:absolute;
  left:520px;
  top:331px;
  width:240px;
  height:34px;
  color:#006666;
  text-align:center;
}
#u300 {
  position:absolute;
  left:0px;
  top:9px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301 {
  position:absolute;
  left:530px;
  top:337px;
  width:220px;
  height:22px;
}
#u301_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#006666;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u302 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:44px;
}
#u303 {
  position:absolute;
  left:520px;
  top:265px;
  width:240px;
  height:34px;
  color:#006666;
  text-align:center;
}
#u304 {
  position:absolute;
  left:0px;
  top:9px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u305 {
  position:absolute;
  left:530px;
  top:272px;
  width:220px;
  height:22px;
}
#u305_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#006666;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u306 {
  position:absolute;
  left:671px;
  top:379px;
  width:79px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u307 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 153, 153, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009999;
}
#u308 {
  position:absolute;
  left:530px;
  top:381px;
  width:79px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009999;
}
#u309 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009999;
}
#u310 {
  position:absolute;
  left:544px;
  top:429px;
  width:57px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009999;
}
#u311 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009999;
}
#u312 {
  position:absolute;
  left:682px;
  top:429px;
  width:57px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009999;
}
#u313 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u314 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:12px;
}
#u315 {
  position:absolute;
  left:388px;
  top:500px;
  width:510px;
  height:1px;
}
#u316 {
  position:absolute;
  left:2px;
  top:-8px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Zapfino';
  font-weight:400;
  font-style:italic;
  font-size:10px;
  text-align:center;
}
#u317 {
  position:absolute;
  left:568px;
  top:508px;
  width:160px;
  height:68px;
  font-family:'Zapfino';
  font-weight:400;
  font-style:italic;
  font-size:10px;
  text-align:center;
}
#u318 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
